/* Coming soon */
/*==============
  [00] Page General css
=================*/
body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 9;
  top: 0;
}

.loader {
  border: 16px solid #111;
  border-radius: 50%;
  border-top: 16px double #5076db;
  border-bottom: 16px double #5076db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*==============
  [01] Page css
=================*/
.page-section .particles-bg {
  height: 100vh;
  background-image: url("../images/background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.85);
}
.page-section .particles-bg .particles-js-canvas-el {
  position: absolute;
}
.page-section .content-detail {
  margin: auto;
  max-width: 450px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-section .content-detail .title, .page-section .content-detail .detail-text {
  display: block;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page-section .content-detail .sub-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
}
.page-section .content-detail #timer {
  padding: 30px 0;
  color: #111;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
}
.page-section .content-detail #timer .date-box {
  margin: 8px;
  padding: 10px;
  width: 85px;
  height: 85px;
  display: inline-block;
  background-color: rgba(80, 118, 219, 0.99);
  font-size: 28px;
  font-weight: 600;
  z-index: 2;
  color: #fff;
  border-radius: 30px;
}
.page-section .content-detail #timer .text {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.page-section .content-detail .hero-counter-desc {
  color: #eee;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.page-section .content-detail .nav-details {
  padding: 15px 0;
  z-index: 5;
}
.page-section .content-detail .nav-details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-section .content-detail .nav-details input {
  width: 300px;
  margin: 5px;
  padding: 8px 15px;
  color: #fff;
  border: 1px solid #bbb;
  border-radius: 30px;
  font-size: 14px;
  background-color: transparent;
  outline: transparent;
}
.page-section .content-detail .nav-details input::-webkit-input-placeholder {
  color: #bbb;
}
.page-section .content-detail .nav-details input::-moz-placeholder {
  color: #bbb;
}
.page-section .content-detail .nav-details input:-ms-input-placeholder {
  color: #bbb;
}
.page-section .content-detail .nav-details input::-ms-input-placeholder {
  color: #bbb;
}
.page-section .content-detail .nav-details input::placeholder {
  color: #bbb;
}
.page-section .content-detail .nav-details .btn {
  margin: 5px;
  padding: 8px 15px;
  color: #bbb;
  border: 1px solid #bbb;
  border-radius: 30px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.page-section .content-detail .nav-details .btn:hover {
  background-color: #5076db;
  color: #fff;
  border: 1px solid #5076db;
}

/* Responsive css */
@media (max-width: 768px) {
  .page-section .content-detail {
    padding: 0 15px;
  }
  .page-section .content-detail .sub-title {
    font-weight: 500;
    font-size: 25px;
  }
  .page-section .content-detail .detail-text {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  #timer {
    padding: 20px 0;
  }
  #timer .date-box {
    margin: 8px;
    padding: 10px;
    width: 75px !important;
    height: 75px !important;
    font-size: 18px;
    border-radius: 15px !important;
  }
  #timer .date-box .text {
    font-size: 11px !important;
  }
  .nav-details form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .page-section .content-detail {
    padding: 0 15px;
  }
  .page-section .content-detail .sub-title {
    font-weight: 500;
    font-size: 22px;
  }
}
/*# sourceMappingURL=coming-soon-page.css.map */