
/* CSS File 
  ===================
    Item Name: Erratum - 404 Error pages + Coming soon + login
    Author: Ashish Maraviya
    Version: 3
    Copyright 2023
===================*/
/*------------------------------------------------------------------
  [ Master css file, Table of contents ]
  
  00. General css
  01. Page css
  
------------------------------------------------------------*/

/*------------------------------------------------------------------
  # [Color codes]
    color: #5076db;
    color: #5bc86d;
# */

/*------------------------------------------------------------------
  [Typography]
  
  Body copy:      font-family: 'Montserrat', sans-serif;
-------------------------------------------------------------------*/
$font-family: 'Montserrat', sans-serif;
$color-white: #fff;
$color-detail-text: #666;

/*==============
  [00] Page General css
=================*/
body {
  font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}
.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 15;
  top: 0; 
}
.loader {
  border: 16px solid #111;
  border-radius: 50%;
  border-top: 16px double #6c34ae;
  border-bottom: 16px double #6c34ae;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes moveit {
  0% { left: 0; }
  50% { left: -50px; }
  100% { left: 0; }
}
@keyframes moveit {
  0% { left: 0; }
  50% { left: -50px; }
  100% { left: 0; }
}
/*==============
  [01] Page css
=================*/
.page-section {
  /*background-image: url("../images/bg-1.png");*/
  position: relative;
  background: linear-gradient(180deg, #9647db, #180e55);
  overflow: hidden;
  .page-decoration-1, .page-decoration-2, .page-decoration-3 {
    width: 110%;
    height: 55vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .page-decoration-1 {
    background-image: url("../images/bg-1.png");
    -webkit-animation: moveit 8s linear infinite; /* Safari */
    animation: moveit 8s linear infinite;
    z-index: 10;
    filter: blur(2px);
   }
  .page-decoration-2 {
    background-image: url("../images/bg-2.png");
    -webkit-animation: moveit 5s linear infinite; /* Safari */
    animation: moveit 5s linear infinite;
    z-index: 10;
  }
  .page-decoration-3 {
    background-image: url("../images/bg-3.png");
    -webkit-animation: moveit 7s linear infinite; /* Safari */
    animation: moveit 7s linear infinite;
    z-index: 5;
     filter: blur(2px);
  }
  .content-detail{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .page-desc {
      width: 100%;
      height: 50vh;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 12;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .sub-title, .detail-text {
        display: block;
        color: $color-detail-text;
        text-align: center;
        z-index: 11;
      }
      .sub-title{
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 30px;
      }
    }
    .global-title {
      margin-bottom: 120px;
      display: block;
      color: #6c34ae;
      font-size: 300px;
      font-weight: 800;
      text-shadow: 2px 2px 5px #3e1869;
      z-index: 6;
      span {
        animation: animateblur 1s linear forwards;
        &:nth-child(1) {
        animation-delay:1s;
        }
        &:nth-child(2) {
        animation-delay:2s;
        }
        &:nth-child(3) {
        animation-delay:3s;
        }
      }
      @keyframes animateblur{
        0%{
        opacity: 0;
        filter: blur(10px);
        }
        100%{
        opacity: 1;
        filter: blur(0px);
        }
      }
    }
    .back-btn {
      margin-top: 15px;
      z-index: 11;
      .btn{
        padding: 8px 15px;
        color: #ffffff;
        border: 1px solid #6c34ae;
        border-radius: 30px;
        font-size: 14px;
        background: #6c34ae;
        box-shadow: 0px 3px 30px #8853c5;
        &:hover{
        background-color: $color-white;
        box-shadow: none;
        color: #6c34ae;
      }
      }
    }
  }
}