
/* Responsive CSS File */
@media (max-width: 768px) {
  .page-section {
    .content-detail{
      padding: 0 15px;
      .global-title {
        font-size: 120px;
        font-weight: 700;
      }
      .sub-title {
        font-weight: 500;
        font-size: 25px;
      }
      .detail-text{
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 480px) {
  .page-section {
    .content-detail{
      .detail-text {
        padding: 0 15px;
      }
      .container-txt {
         width: 300px;
         height: 160px;
      h1 {
        font-size: 90px;
        font-weight: 600;
      }
      .blobs_2, .blobs_6 {
        display: none;
      }
      .blobs_3 {
        width: 60px;
        height: 60px;
        top: 87px;
        left: 47px;
      }
      .blobs_4 {
        width: 50px;
        height: 50px;
        top: 97px;
        left: 123px;
      }
      .blobs_5 {
        width: 30px;
        height: 30px;
        top: 39px;
        left: 70px;
      }
      .blobs_7{
        left: 146px;
      }
      .sub-title {
        font-weight: 500;
        font-size: 22px;
      }
      }
    }
  }
}